@import url('https://rsms.me/inter/inter.css');

html,
body {
	background: #292929;
}

h1 {
	align-content: center;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter';
}

button {
	cursor: pointer;
}
